@use "src/assets/css/variable" as *;

main {
    background-color: $main-content-background-color;
    box-shadow: 0 7px 19px 5px rgba(0, 0, 0, 0.33);
}

#theme-switch {
    position: fixed;
    right: 0;
    bottom: 2rem;
}
