@use "../variable" as *;

* {
    box-sizing: border-box;
}

body {
    color: $main-color;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    margin: 0;
}

.font-light {
    font-weight: 200;
}
